aio_pika==9.4.3
fastapi==0.115.0
FinRL==0.3.7
firebase_admin==6.5.0
gym==0.26.2
gymnasium==0.28.1
matplotlib==3.8.2
numpy==2.1.1
pandas==2.2.2
polars==1.7.1
prefect==2.19.9
pydantic==2.9.2
pymongo==4.7.1
pytest==8.0.1
PyYAML==6.0.1
PyYAML==6.0.2
Requests==2.32.3
SALib==1.5.1
scikit_learn==1.5.2
sortedcontainers==2.4.0
starlette==0.38.5
termcolor==2.4.0
uvicorn==0.30.6