aio_pika==9.4.3
fastapi==0.115.0
numpy==2.1.1
pandas==2.2.2
polars==1.7.1
pydantic==2.9.2
pytest==8.0.1
PyYAML==6.0.2
Requests==2.32.3
sortedcontainers==2.4.0
starlette==0.38.5
termcolor==2.4.0
uvicorn==0.30.6